*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body{
    /* to occupy whole screen  */
    min-height: 100vh;
    background-image: url(asus.jpg);
     background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Times New Roman', Times, serif;

}
/* stylng navbar */
nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}
nav ul{
    width: 100%;
    list-style: none;
    /* to align items to right  */
    display: flex;
    justify-content: end;
    align-items: center;
}
nav li{
    height: 50px;
    
}
li#logo {
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}
li#logo span {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}

.logo-icon {
    height: 28px;
    width: 28px;
    object-fit: contain;
}

nav a{
    /* to match height of list items  */
    height: 100%;
    padding: 0 30px;
    display: flex;
     /* to remove underline   */
    text-decoration: none;
    color: rgba(14, 13, 13, 0.66);
    font-weight: bolder;
}
nav a:hover{
    background-color: rgba(205, 195, 195, 0.863);
}
/* how i want to align coding2go logo at left side and others thing list at right
we have to use first child selector */
nav li:first-child{
    margin-right:auto;

}
/* now to make sidebar i want to display list items vertically */
.sidebar{
   
    position: fixed;
    top: 0;
    right: 0;
    /* must take 100% of viewport height  */
    height: 100vh;
    width: 250px;
    z-index: 999;
    display:none;
    flex-direction: column;
     background-color: rgba(255, 255, 255, 0.383);
     /* to create glass effect for background  */
     /* to do that we come here in .sidebar and use below property these property defines
     how elements behind the current elements should be rendered by the browser 
     in these property will use blur function which will blur the background 
     to see the magic you have to make white color blur*/
     backdrop-filter: blur(10px);
     box-shadow: -10px 0 10px rgba(0,0,0,0.1);
     align-items: start;
     justify-content: start;

}
ul li a i {
  margin-right: 8px;
  font-size: 1.2em;
  vertical-align: middle;
  color: #050505; /* Accent color for icons */
}

ul li a {
  display: flex;
  align-items: center;
  gap: 6px;
}
/* to avoid confusion we should ensure that the list items and links to fill entire 
width of sidebar */
.sidebar li{
    width: 100%;
    display: flex;
    flex-direction: row;

}
.sidebar a{
    width: 100%;
}

/* now we want to open this sidebar with menu icon 
to get these icons go to fonts.google.com/icons and download their svg file */


/* these things in horizontal nav bar would be hidden for mobile devices  */
/* this media query for tablets  */
@media(max-width:800px){
    .hideOnMobile{
        display:none;
    }
   
}
/* for mobile devices i want sidebar to take full space  */
@media(max-width:400px){
    .sidebar{
        width: 100%;
    }
}
@media(min-width:801px){
    /* for desktop width i didnot want this menu only for mobile and some tablets  */
 #menu{
        display: none;
    }
}


